<div class="bg">
  <div class="login-screen">
    <div class="login-form-field fade-in" >
      <div class="welcome-label">
        <span>
          Bem-vindo de volta!
        </span>
      </div>
      <div class="login-form">

        <mat-form-field class="full-width">
          <span class="input-label"> Nome de usuário*</span>
          <input matInput [(ngModel)]="username" value="">
        </mat-form-field>

        <mat-form-field class="full-width">
          <span class="input-label"> Senha*</span>
          <input matInput type="password" [(ngModel)]="password" value="">
        </mat-form-field>
        <div class="button-row">
          Novo por aqui? <a routerLink="/register" routerLinkActive="active">Cadastrar</a>
          <button mat-stroked-button (click)="logIn()">Entrar</button>
        </div>
      </div>
    </div>
  </div>

</div>
