<div class="test fade-in">
  <!-- CRIAÇÃO DO TESTE -->
  <div class="create-test fade-in" *ngIf="!canMakeTest">
    <div class="label">Olá {{ username }}, como você quer estudar hoje? </div>

    <div class="w2">
      <mat-form-field class="select">
        <mat-select placeholder="Tipo de Simulado" (selectionChange)="changedTestType($event)" mat-select [(value)]="testConfig.type">
          <mat-option *ngFor="let type of testTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="testConfig.type === 'Simulado Personalizado'" class="w2 fade-in">
      <div class="w3" style="padding-left: 0">
        <mat-form-field>
          <input type="number" matInput placeholder="Questões de matemática (0-10)" [(ngModel)]="testConfig.math">
        </mat-form-field>
      </div>
      <div class="w3" style="padding-left: 5%">
        <mat-form-field class="example-full-width">
          <input type="number" matInput placeholder="Questões de Tecnologias (0-10)" [(ngModel)]="testConfig.tech">
        </mat-form-field>
      </div>
      <div class="w3" style="padding-left: 5%">
        <mat-form-field class="example-full-width">
          <input type="number" matInput placeholder="Questões de Fundamentos (0-10)" [(ngModel)]="testConfig.fund">
        </mat-form-field>
      </div>
    </div>
    <div class="button-row">
      <button mat-raised-button class="clear" (click)="clearChoices()"> <img src="../../../../assets/img/icons/trash-can.png"
          alt=""> Limpar escolhas</button>
      <button mat-raised-button class="confirm" (click)="validateForm()"><img src="../../../../assets/img/icons/correct.png"
          alt=""> Tudo certo. Começar!</button>
    </div>
  </div>

  <!-- TESTE -->
  <mat-spinner *ngIf="loadingTest"> </mat-spinner>
  <div class="do-test fade-in" *ngIf="canMakeTest && !finishedTest && !loadingTest">
    <div class="test-info">
      <div class="progress-bar">
        <mat-progress-bar mode="determinate" [value]="testProgress"></mat-progress-bar>
        <div class="progress-text"> você já respondeu {{ answered }} de {{ nQuestions }} questões</div>
        <div class="current-question" *ngIf="currentQuestion"> Questão {{ questionNumber }} - Ano {{ questionYear }} -
          {{ questionClass}}</div>
      </div>
    </div>
    <div *ngIf="this.answered !== this.nQuestions" class="question-area fade-in">
      <app-question [question]="currentQuestion" (changedAlternative)="changedAlternative($event)"></app-question>
      <div class="button-row">
        <button mat-raised-button (click)="skipQuestion()" class="clear">Pular Questão <img src="../../../../assets/img/icons/skip.png"
            alt=""> </button>
        <button mat-raised-button (click)="confirmAnswer()" class="confirm" [disabled]="!selectedAlternative || selectedAlternative === ''">Confirmar
          Resposta <img *ngIf="selectedAlternative !== ''" src="../../../../assets/img/icons/correct.png" alt=""></button>
      </div>
    </div>
  </div>

  <!-- RESULTADOS -->

  <div class="results fade-in" *ngIf="finishedTest">
    <div class="title">
      Resultados
    </div>
    <div class="hello-text">
      Olá, {{ username }}. Trouxemos alguns resultados do seu simulado.
    </div>
    <div class="chart">
      <app-bar-chart [barChartData]="barChartData" [barChartLabels]="barChartLabels"> </app-bar-chart>
    </div>
    <div class="hello-text">
      Boa sorte no próximo simulado, e bons estudos!
    </div>
    <div class="button-row">
      <button mat-raised-button class="clear" (click)="goToHome()"> <img src="../../../../assets/img/icons/exit.png"
          alt=""> Página inicial </button>
      <button mat-raised-button class="confirm" (click)="resetTest()"><img src="../../../../assets/img/icons/repeat.png"
          alt=""> Fazer outro simulado</button>
    </div>
  </div>

</div>
