<div class="profile fade-in">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../../../assets/img/icons/stats.png" style="width: 24px; padding-right: 15px;">
        ESTATÍSTICAS
      </ng-template>
      <app-stats></app-stats>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../../../assets/img/icons/registration-data.png" style="width: 24px; padding-right: 15px;">
        DADOS CADASTRAIS
      </ng-template>
      <app-registration-data> </app-registration-data>
    </mat-tab>
  </mat-tab-group>
</div>
