.menu-top {
  user-select: none;
  width: 100%;
  height: 95px;
  background-color: #545454;
  position: sticky;
  display: table;
  .image-place{
    display: table-cell;
    width: 75%;
    > img {
      height: 90px;
      padding-top: 9px;
      padding-left: 30px;
    }
  }
  .user-place{
    display: table-cell;
    width: 25%;
    height: 100%;
    color: white;
    font-size: 24px;
    .grettings{
      padding-top: 25%;
    }
  }
}
