.dashboard{
  background-color: #E5E2DE;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  .container{
    background-color: #fff;
    height: 87%;
    width: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 1%;
    float: right;
    margin-right: 1%;
    border-radius: 10px;
  }
}
