<div class="register" [ngStyle]="{ 'background-image': 'url(' + imageLink + ')'}">
  <div class="panel fade-in">
    <div class="be-part">
      <span>
        Faça parte da nossa comunidade!
      </span>
    </div>
    <div class="be-part-text">
      <span>
        O cadastro é rápido e seus dados jamais serão compartilhados. Venha estudar conosco!
      </span>
    </div>
    <div class="register-form">
      <mat-form-field *ngFor="let item of register_fields">
        <span class="input-label">
          {{ item.label }}
        </span>
        <input *ngIf="item.type === 'input'" [type]="item.inputType" class="half-width" matInput [(ngModel)]="regObject[item.key]">
        <mat-select *ngIf="item.type === 'select'">
          <mat-option *ngFor="let selectItem of item.options" [value]="selectItem">
            {{selectItem}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-row">
        <button mat-stroked-button>Prosseguir
        </button>
      </div>
    </div>
  </div>
</div>
